<div class="tile is-ancestor">
  <div class="tile is-parent">
	<% invite.each do |invite| %>
	  <div class="box is-one-quarter">
	  <div class=”tile is-child”>
		<%= attachment_image_tag invite, :image, :fill, 283, 283, fallback: "no_image.jpg" %>
		<p>[ タイトル ]<br><%= link_to invite.title, invite_path(invite) %></p>
		<p>[ 内容 ]<br><%= invite.content %></p>
		<p>[ 猫情報 ]<br><%= invite.sex %> ／ <%= invite.age %> ／ <%= invite.type %></p>
		<p>[ 投稿者 ]<br><%= link_to invite.user.handle_name, user_path(invite.user.id) %></p>
	  </div>
	  </div>
	<% end %>
  </div>
</div>
