<h1 class="subtitle is-1 has-text-primary"><%= @user.handle_name %>さんのページ</h1>

<div class="columns">
  <!-- 会員情報表示欄 -->
 	<div class="column is-one-quarter ">
	<div class="box">
	  <h3 class="subtitle">会員情報</h3>
	  	<p>[ ハンドルネーム ]<br><%= @user.handle_name %></p>
		<p>[ 自己紹介文 ]<br><%= @user.profile %></p>
		<p>住所<br><%= @user.prefecture %></p>
		<!-- 以下、ログインしている会員しか表示しない情報 -->
		<% if @user.id == current_user.id %>
		  <hr>
		  <p>[ 氏名 ]<br><%= @user.name %></p>
		  <p>[ メールアドレス ]<br><%= @user.email %></p>
		  <p><%= link_to "登録情報変更", edit_user_path(@user), class: "button is-success" %></p>
		<% end %>
	</div>
 	</div>

	<div class="column is-three-quarters ">
	  <!-- 募集一覧 -->
		<h3 class="subtitle">[ 募集掲載中 ]</h3>
		<%= render 'invites/index', invite: @invites %>
		<hr>
	  <!-- 投稿一覧 -->
		<h3 class="subtitle">[ 投稿 ]</h3>
		<%= render 'posts/index', post: @posts %>
	</div>
</div>

