<h1 class="subtitle is-1 has-text-primary"><%= @user.handle_name %>さんのページ</h1>

<div class="columns">
  <!-- 会員情報表示欄 -->
 	<div class="column is-one-quarter ">
	<div class="box">
	  <p class="subtitle is-4">会員情報</p>
	  	<p>[ ハンドルネーム ]<br><%= @user.handle_name %></p>
		<p>[ 自己紹介文 ]<br><%= @user.profile %></p>
		<p>[ 住所 ]<br><%= @user.prefecture %></p>
		<!-- 以下、ログインしている会員しか表示しない情報 -->
		<% if @user.id == current_user.id %>
		  <hr>
		  <p>[ 氏名 ]<br><%= @user.name %></p>
		  <p>[ メールアドレス ]<br><%= @user.email %></p>
		  <br>
		  <p><%= link_to "登録情報変更", edit_user_path(@user), class: "button is-success" %></p>
		<% end %>
	</div>
 	</div>

	<div class="column is-three-quarters ">
	  <!-- 募集一覧 -->
		<p class="subtitle is-3">
			募集掲載中　　<%= link_to "募集を出す", new_invite_path, class: "button is-info" %>
		</p>
		<%= render 'invites/index', invite: @invites %>
		<%= paginate @invites %>
		<hr>
	  <!-- 投稿一覧 -->
		<p class="subtitle is-3">
			投稿　　<%= link_to "投稿する", new_post_path, class: "button is-info" %>
		</p>
		<%= render 'posts/index', posts: @posts %>
		<%= paginate @posts %>
	</div>
</div>
