<div class="tile is-ancestor">
	<% post.each do |post| %>
	<div class=”tile is-parent”>
		<div class="card">
			<div class="card-image">
				<%= attachment_image_tag post, :image, :fill, 283, 283, fallback: "no_image.jpg" %>
			</div>
			<div class="card-content">
				<p>[ 投稿タイトル ]<br><%= link_to post.title, post_path(post) %></p>
				<p>[ 内容 ]<br><%= post.content %></p>
				<p>[ 猫情報 ]<br><%= post.sex %> ／ <%= post.age %> ／ <%= post.type %></p>
				<p>[ 掲載者 ]<br><%= link_to post.user.handle_name, user_path(post.user.id) %></p>
			</div>
		</div>
	</div>
	<% end %>
</div>
