<h1 class="subtitle is-1 has-text-primary">投稿詳細ページ</h1>

<div class="tile is-ancestor">
	<div class="tile is-parent">
		<!-- 画像表示 -->
		<div class="tile is-child box">
			<%= attachment_image_tag @post, :image, :fill, 700, 450, fallback: "no_image.jpg" %>
			<hr>
			<!-- 募集情報 -->
			<p>[ 投稿タイトル ]<br><%= @post.title %></p>
			<p>[ 内容 ]<br><%= @post.content %></p>
			<p>[ 猫情報 ]<br><%= @post.sex %> ／ <%= @post.age %> ／ <%= @post.type %></p>
			<p>[ 投稿日 ]<br><%= @post.created_at.strftime('%Y/%m/%d') %></p>
			<!-- ログインしている会員の場合のみ編集と削除ボタンを表示 -->
			<% if @post.user == current_user %>
			<hr>
			<%= link_to "内容を変更する", edit_post_path(@post), class: "button is-success" %>
			<%= link_to "この投稿を削除する", post_path(@post), class: "button is-danger", method: :delete, data:{confirm: "本当に消しますか？"} %>
			<% end %>
		</div>
	</div>
	<div class="tile is-parent">
		<!-- 会員情報 -->
		<div class="tile is-child">
			<h4 class="subtitle">投稿者情報</h4>
			<p>[ ハンドルネーム ]<br><%= link_to @post.user.handle_name, user_path(@post.user.id) %></p>
			<p>[ 自己紹介文 ]<br><%= @post.user.profile %></p>
			<p>[ 住所 ]<br><%= @post.user.prefecture %></p>
			<hr>
			<!-- コメント欄 -->
			<h4 class="subtitle">コメント欄</h4>
		</div>
	</div>
</div>
